html{
  font-size: 16px;
}

body{
  background-color: black;
}

h1 {
    width: 60%;
    margin: 0 auto;
}

div {
  width: 60%;
  background-color: #5ae283;
  margin: 0 auto;
  color: #000;
}

ol {
  padding: 1rem;
}

ol li {
  margin: .5rem
}
