*{
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Header*/
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  z-index: 1;
}

header img {
  float: left;
  height: 50px;
  margin: 10px;
}

nav {
  float: right;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 10px;
}

nav a {
  color: white;
} 

/*Mission*/
#mission {
  top: 69px;
  height: 700px;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-size: cover;
  clear: both;
  position: relative;
}

#mission div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: black;
}

/*Featured*/
#featured {
  margin: 0 auto;
  margin-top: 140px;
  max-width: 1000px;
}

#featured img {
  height: 200px;
  width: 300px;
}

#featured .container {
  display: flex;
  flex-grow: row wrap;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

#featured .container .item h4 {
  margin-top: 10px;
}

/*Locations*/
#locations {
  min-height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-size: cover;
  margin-top: 50px;
  padding-bottom: 10px;
}

#locations h2 {
  padding-top: 70px;
}

#locations .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 10px;
}

#locations .container .location-item{
  width: 300px;
  background-color: black;
}

/*Footer*/
footer .contact {
  height: 200px;
}

footer .contact h2{
  margin-top: 10px;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}

/*Media queries*/
@media only screen and (max-width: 768px) {
  #mission {
    top: 120px;
  }

  header {
    height: 120px;
    display: flex;
    flex-direction: column;
  }

  header img{
    margin: auto;
  }
}



