*{
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    display: block;
    height: 4rem;
    background-color: #30993b;
    width: 100%;
    margin: 0;
    padding: .2rem;
}

nav ul li {
    display: inline-block;
    color: white;
    padding: 0 .5em;
}

.banner {
    padding: .5em;
    text-align: center;
    margin: 0 auto;
    background-image: url('adventure6.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
}

.banner h1 {
    text-shadow: 0 0 3px #19a041, 0 0 5px #34aea4;
    font-size: 3rem;
}

.mission {
    background-color: #32b4b6;
    padding: .5rem;
    margin-top: 0 auto;
}

.mission a {
    margin-top: .5em;
    display: block;
    width: 10rem;
    text-align: center;
    background-color: #e1bc28;
    padding: .5em;
    text-decoration: none;
    color: white;
}

.photos {
    padding-top: .5rem;
    display: block;
    text-align: center;
}

.photos img {
    display: inline-block;
    width: 25rem;
}

.testimonial {
    background-color: #32b4b6;
    padding: 20px auto;
}

.testimonial .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: #30993b;
    padding: .5rem;
}

.testimonial .container div {
    width: 20rem;
    height: 20rem;
    background-color: #e1bc28;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
}

.testimonial .container div img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.testimonial .container span {
    font-style: italic;
}

.testimonial h2 {
    text-align: center;
    padding-top: .5rem;
}

footer {
    background-color: black;
    height: 7rem;
    padding: .5rem;
    color: #fff;
    text-align: center;
}

footer span {
    font-style: italic;
    padding: .5rem;
}

@media only screen and (max-width: 640px){
    header nav {
        text-align: center;
    }
    
    .photos {
        padding: 0;
    }
    .photos img {
        width: 100%;
    } 

    .banner h2 {
        margin-top: 4rem;
        color: #fff;
    }

    .testimonial .container div {
        width: 80%;
    }
}
  
  